/*William Bukowski Was Here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #040d5f;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

h1 {
  text-align: center;
  font-weight: 600;
  color: #0c9b88b2;
  margin-top: 0;
}

.note-container {
  background-color: #0d1137;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#note-textarea {
  width: 100%;
  resize: none;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #152642;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#save-btn,
#delete-btn {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #00adb5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#save-btn:hover,
#delete-btn:hover {
  background-color: #007d8c;
}

.note-list {
  margin-top: 20px;
  width: 100%;
}

.note-item {
  cursor: pointer;
  margin-bottom: 5px;
  background-color: #1b243e;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.note-item:hover {
  background-color: #263551;
}

.right-align {
  margin-left: auto;
}
